/**
 * @file
 * This CSS file defines the styles for the `App` component and the dark and light themes.
 * It uses CSS variables for the main colors and transitions.
 * The `App` class is used to style the main div of the `App` component.
 * The `darkBG` and `lightBG` ids are used to apply the dark and light themes respectively.
 * The `darkBG` and `lightBG` ids also have a `*` selector to apply the theme to all child elements.
 */

/**
 * Defining global variables for the main colors
 */
:root{
    --socio-black: rgb(0, 0, 0);
    --socio-white: rgb(245, 245, 245);
}

/**
 * Applying the dark theme when the id of the root div is `darkBG`
 */
#darkBG{
    background-color: var(--socio-black);
    transition: background-color 0.53s ease, color 0.3s ease;
}

/**
 * Applying the dark theme to all child elements of the root div when its id is `darkBG`
 */
#darkBG *{
    color: var(--socio-white);
}

/**
 * Applying the light theme when the id of the root div is `lightBG`
 */
#lightBG{
    background-color: var(--socio-white);
    transition: background-color 0.3s ease, color 0.3s ease;
}

/**
 * Applying the light theme to all child elements of the root div when its id is `lightBG`
 */
#lightBG *{
    color: var(--socio-black);
}

/**
 * Styling the main div of the `App` component
 */
.App{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
}

/**
 * Mobile styles
 */
@media screen and (max-width: 767px){
    /* Add your mobile styles here */
}

/**
 * Tablet styles
 */
@media screen and (min-width: 768px) and (max-width: 1024px){
    /* Add your tablet styles here */
}